<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="filePath" value="C:\Users\kwozn\source\repos\WinForms_SQL-Application\WinForms_SQL-Application\bin\Debug"/>
  </appSettings>
  <connectionStrings>
    <add name="turnaments" connectionString="Server=DESKTOP-0N32UBL\SQLEXPRESS;Database=turnaments;Trusted_Connection=True;" providerName="System.Data.SqlClient"/>
  </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.2" />
    </startup>
</configuration>